.content{
  background-color: #47a3da;
  background: #47a3da;
  height: auto;
  position: absolute;
  width: 100%;
  float: right;
  padding-top: 80px;
  padding-left: 80px;
  /*padding-right: 4000px;*/
  z-index: 98;

}

/*for when the menu is open, push everything to the right*/
.content-push-toright {
	left: 15%;
  width: 85%
}

/*set the background color for tables in the content section*/
.content > section table {
  background-color: #47a3da;
  padding: 10px;
}
