.content{
  background-color: #47a3da;
  height: auto;
  position: absolute;
  width: 100%;
  overflow: auto;
  float: right;

}

/*for when the menu is open, push everything to the right*/
.content-push-toright {
	left: 15%;
  width: 85%;
  /*something to stop it from overlapping the nav bar*/
}
